.App{
  min-height: 100vh;
  background-color: rgb(235, 235, 235);
}


.titleName{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 50px;
  background: transparent;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  background: rgb(198, 196, 185);
  border-radius: 60px;
}

::placeholder {
  color: black
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 60px;
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}